<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adars.gotchya">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogInActivity" />

        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AboutUsActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <service android:name=".Sensors.GPSservice"
            android:enabled="true"/>
       <service android:name=".Sensors.SignificantMotionSensorService"
           android:enabled="true"/>
        <receiver android:name=".ScreenLock.MyAdmin" android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>

        </receiver>



        <service
            android:name=".Core.Threading.GhostThreads.GhostCounter"
            android:enabled="true" />
        <service android:name=".Sensors.SignificantMotionSensorService" />

        <receiver
            android:name=".Core.Threading.GhostThreads.Revivors.GhostCounterRevivalist"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="ReviveMe" />
            </intent-filter>
        </receiver>

        <activity android:name=".Sensors.DevOptionsActivity"></activity>
    </application>

</manifest>